.head1{
    padding: 35px;
    background-color: black;
}

.headbut{
    border: 2px solid black;
    font-size: 22px;
    color: aliceblue;
    /* display: block; */
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.headbutlog{
    border: 2px solid black;
    font-size: 22px;
    color: aliceblue;
    /* display: block; */
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}